<% content_for(:title, t(".title")) %>
<div class="flex flex-wrap justify-center mt-3">
  <div class="card w-full max-w-4xl mx-4 mb-8 shadow-2xl">
    <div class="card-body items-center">
      <h1 class="font-bold text-center text-2xl mb-5"><%= t(".title") %></h1>
      <%= form_with(model: @user, url: profiles_path, local: true, data:{ turbo: false }) do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <div class="form-control">
          <%= f.label :name %>
          <%= f.text_field :name, class: "input mb-3" %>
        </div>
        <div class="form-control">
          <%= f.label :avatar %>
          <%= f.file_field :avatar, onchange: "previewFileWithId(preview)", class: "mb-3", accept: "image/*" %>
          <%= f.hidden_field :avatar_cache %>
        </div>

        <div class="flex justify-center mt-3 mb-3">
          <%= image_tag @user.avatar.url,
                        class: "rounded-circle",
                        id: "preview",
                        size: "100x100" %>
        </div>
        <div class="flex justify-end">
          <%= f.submit class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>