<% content_for(:title, t('.title')) %>
<div class="flex flex-wrap justify-center mt-3">
  <div class="card w-full max-w-4xl mx-4 mb-8 shadow-2xl">
    <div class="card-body">
      <h1 class="font-bold text-center text-2xl mb-5"><%= t('.title') %></h1>
      <div class="flex justify-end">
        <% if @user.provider != "guest_provider" %>
          <%= link_to t('defaults.edit'), edit_profiles_path, class: 'btn btn-success' %>
        <% end %>
      </div>
      <table class="table">
        <tr>
          <th scope="row"><%= t(User.human_attribute_name(:name)) %></th>
          <td><%= current_user.name %></td>
        </tr>
        <tr>
          <th scope="row"><%= t(User.human_attribute_name(:avatar)) %></th>
          <td><%= image_tag current_user.avatar.url, class: 'rounded-circle', size: '50x50' %></td>
        </tr>
      </table>
    </div>
  </div>
</div>