<%= content_for :title, t('.title')%>
<div class="card w-full max-w-lg bg-base-100 shadow-xl mx-auto">
  <div class="card-body">
    <h1 class="card-title font-bold self-center my-6"><%= t('defaults.login') %></h1>
    <div class='text-center text-sm'>
      <%= button_to omniauth_authorize_path(resource_name, :line), class: "btn btn-md bg-line-green text-sm text-white", data: { turbo: false } do %>
        <%= image_tag "provider/line_logo.png", alt: "LINE", class: "inline-block mr-2", size:"25x25" %><%= t("devise.shared.links.sign_in_with_provider", provider: "LINE") %>
      <% end %>
    </div>
    <div class="divider">OR</div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-control">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input input-primary w-full mb-3' %>
      </div>

      <div class="form-control">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'input input-primary w-full mb-3' %>
      </div>

      <% if false%>
        <% if devise_mapping.rememberable? %>
          <div class="form-control">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
      <% end%>

      <div class="actions mt-5">
        <%= f.submit t('defaults.login'),class: 'btn btn-secondary w-full mb-5' %>
      </div>
    <% end %>
    <div class='text-center text-sm'>
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>