<div class="card w-full max-w-lg bg-base-100 shadow-xl mx-auto">
  <div class="card-body p-8">
    <h1 class="card-title text-center mt-8 mb-4">
      <%=t("devise.passwords.edit.change_my_password")%>
    </h1>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-control mb-5">
        <%= f.label :password, t("devise.passwords.edit.new_password") %>
        <% if @minimum_password_length %>
          <div class="text-sm mb-2">
            (<%= @minimum_password_length %> <%= t("devise.passwords.edit.characters_minimum")%>)
          </div>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'input input-accent w-full mb-3' %>
      </div>

      <div class="form-control mb-5">
        <%= f.label :password_confirmation, t("devise.passwords.edit.confirm_new_password") %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input input-accent w-full mb-3' %>
      </div>

      <div class="actions mb-4">
        <%= f.submit t("devise.passwords.edit.change_my_password"), class:"btn btn-secondary w-full" %>
      </div>
    <% end %>

    <div class="text-center text-sm">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>