<div class="navbar bg-accent text-white">
  <div class="flex-1 px-2 lg:flex-none">
    <a class="text-lg font-bold"><%= link_to 'GrowJourney', goals_path %></a>
  </div>
  <div class="flex justify-end flex-1 px-2">
    <div class="flex items-stretch">
        <%= link_to "目標・タスク一覧", goals_path, class:"btn btn-ghost rounded-btn"%>
        <%= link_to "達成一覧", completed_goals_goals_path, class:"btn btn-ghost rounded-btn" %>
        <a class="btn btn-ghost rounded-btn">開花一覧</a>
        <a class="btn btn-ghost rounded-btn">応援する</a>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost rounded-btn">
          <%= image_tag current_user.avatar.url, size:'50x50', style:"border-radius: 50%;"%>
        </label>
          <ul tabindex="0" class="text-gray-700 menu dropdown-content z-[1] p-2 shadow bg-base-100 bg- rounded-box w-52 mt-4">
            <li><%= link_to t('profiles.show.title'), profiles_path, class: 'dropdown-item' %></li>
            <li><%= button_to t('defaults.logout'), logout_path, method: :delete %></li>
          </ul>
        </label>
      </div>
    </div>
  </div>
</div>