<div class="navbar bg-primary text-white">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-sm text-gray-700 dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><%= link_to t("defaults.link_cheer_goal"), cheers_goals_path %></li>
        <li><%= link_to t("defaults.link_goal"), goals_path %></li>
        <li><%= link_to t("defaults.link_look_back"), look_back_path %></li>
        <li><%= link_to t("defaults.link_flower"), flowers_path %></li>
      </ul>
    </div>
    <%= link_to 'GrowJourney', goals_path, class: "text-lg font-bold" %>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
        <li><%= link_to t("defaults.link_cheer_goal"), cheers_goals_path, class:"font-bold"%></li>
        <li><%= link_to t("defaults.link_goal"), goals_path, class:"font-bold"%></li>
        <li><%= link_to t("defaults.link_look_back"), look_back_path, class:"font-bold" %></li>
        <li><%= link_to t("defaults.link_flower"), flowers_path, class:"font-bold" %></li>
    </ul>
  </div>
  <div class="navbar-end">
    <div class="dropdown dropdown-end dropdown-hover">
      <label tabindex="0" class="btn btn-ghost rounded-btn">
        <%= image_tag current_user.avatar.url, size:'50x50', style:"border-radius: 50%;"%>
      </label>
        <ul tabindex="0" class="text-gray-700 dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
          <li><%= link_to t('profiles.show.title'), profiles_path, class: 'dropdown-item' %></li>
          <li><%= button_to t('defaults.logout'), destroy_user_session_path, method: :delete %></li>
        </ul>
    </div>
  </div>
</div>