<%= turbo_stream.replace "month_#{dom_id(@month_goal)}" do %>
  <%= turbo_frame_tag "month_#{dom_id(@month_goal)}" do %>
    <div class="mt-6 font-semibold md:text-lg">
      <%= @month_goal.content %>
    </div>
    <div class="flex justify-end space-x-3">
      <%= link_to edit_month_goal_path(@month_goal) do %>
        <i class="fa-solid fa-pen mr-1"></i>
      <% end %>
      <%= button_to month_goal_path(@month_goal), method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } } do %>
        <i class="fa-solid fa-trash mr-3"></i>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= turbo_stream_flash %>