<div class="flex flex-col border rounded-lg p-5">
  <div class="flex flex-col md:flex-row justify-between mb-2">
    <!-- ユーザー情報（アバターと名前） -->
    <div class="flex items-center mb-2 md:mb-0">
      <%= image_tag cheer_goal.user.avatar.url, class: 'w-10 h-10 rounded-full object-cover object-center border border-gray-300 mr-3' %>
      <div>
        <p class="text-sm font-semibold text-gray-700">
          <%= cheer_goal.user.name %>
          <span class="text-xs font-normal text-gray-400 ml-2"><%= l cheer_goal.achieved_at, format: :short %></span>
        </p>
        <div class="text-sm mt-1">
          やり遂げました！<br>
          「<%= cheer_goal.content %>」という目標を達成しました✨<br>
          この調子で、次の目標も頑張ります！
        </div>
      </div>
    </div>

    <!-- 応援ボタンと応援の数 -->
    <div class="flex justify-end items-center">
      <% if user_signed_in? %>
        <%= render "cheers/cheer_button", cheer_goal: cheer_goal %>
      <% else %>
        <%= link_to new_user_registration_path do %>
          <div class="btn btn-outline btn-accent btn-circle p-3 mr-2">
            <%= image_tag "icon/cheer.png" %>
          </div>
        <% end %>
        <div class="text-center text-xs text-gray-500">
          応援<br>
          <%= cheer_goal.cheers.count %>
        </div>
      <% end %>
    </div>
  </div>
</div>