<% content_for(:title, t(".title")) %>
<div class="flex flex-wrap justify-center">
  <div class="card w-full max-w-4xl mx-4 mb-8 shadow-xl text-gray-600">
    <div class="card-body">
      <div class="flex justify-center space-x-2 mt-6">
        <%= image_tag "icon/small_flower_yellow.png", class:"h-10" %>
        <h2 class="text-2xl text-center font-semibold mb-8">今月の振り返り</h2>
        <%= image_tag "icon/small_flower_yellow.png", class:"h-10" %>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

        <!-- 今月の目標 -->
      <% if @month_goal.present? %>
        <div class="p-4 border border-gray-200 rounded-lg shadow text-center md:order-2">
          <h3 class="text-xl font-semibold mb-5 underline decoration-4 decoration-secondary">今月の目標</h3>
          <%= turbo_frame_tag "month_#{dom_id(@month_goal)}" do %>
            <div class="mt-6 font-semibold md:text-lg">
              <%= @month_goal.content %>
            </div>
            <div class="flex justify-end space-x-3">
              <%= link_to edit_month_goal_path(@month_goal) do %>
                <i class="fa-solid fa-pen mr-1"></i>
              <% end %>
              <%= button_to month_goal_path(@month_goal), method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } } do %>
                <i class="fa-solid fa-trash mr-3"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      <%else%>
        <div class="flex items-center justify-center p-4 border border-gray-200 rounded-lg shadow text-center md:order-2">
          <div class="self-center space-y-2">
            <h3 class="text-xl font-semibold mb-5 underline decoration-4 decoration-secondary">今月の目標</h3>
            <p class="text-sm items-center">今月の目標を設定しよう！</p>
            <%= link_to "目標を設定する", new_month_goal_path, class: "btn btn-secondary rounded-lg shadow" %>
          </div>
        </div>
      <%end%>

        <!-- 今月達成した目標 -->
        <% if @achieved_goals.present? %>
          <div class="mb-3 p-4 border border-gray-200 rounded-lg shadow md:order-3">
            <h3 class="text-xl font-semibold mb-5 text-center underline decoration-4 decoration-secondary">今月達成した週間目標</h3>
              <ul class="list-disc px-5 overflow-y-auto max-h-56 text-sm">
                <% @achieved_goals.each do |goal| %>
                  <li><%= goal.content %></li>
                <% end %>
              </ul>
          </div>
        <% else %>
          <div class="flex items-center justify-center mb-3 p-4 border border-gray-200 rounded-lg shadow md:order-3">
            <div class="self-center">
              <h3 class="text-xl font-semibold mb-5 text-center underline decoration-4 decoration-secondary">今月達成した週間目標</h3>
              <p class="text-sm text-center">今月達成した目標はありません。</p>
            </div>
          </div>
        <% end %>

        <!-- カテゴリ内訳グラフ -->
        <% if @chart.present? %>
          <div class="row-span-2 mb-3 p-4 border border-gray-200 rounded-lg shadow md:order-1">
            <h3 class="text-xl font-semibold mb-3 text-center underline decoration-4 decoration-secondary">カテゴリ内訳</h3>
            <div class="items-center">
              <%= pie_chart @chart, library: { title: { text: "今月の達成タスク数<br> #{@chart_count}件" } } %>
            </div>
          </div>
        <% else %>
          <div class="flex items-center justify-center row-span-2 mb-3 p-4 border border-gray-200 rounded-lg shadow md:order-1">
            <div class="self-center space-y-3">
              <h3 class="text-xl font-semibold mb-3 text-center underline decoration-4 decoration-secondary">カテゴリ内訳</h3>
              <p class="text-center text-sm">タスクに取り組もう！</p>
              <%= link_to "目標・タスク一覧に戻る", goals_path, class: 'btn btn-secondary' %>
            </div>
          </div>
        <% end %>
      </div>

      <!-- X共有 -->
      <% if @chart_count > 0 %>
        <div class="mt-4 mb-4 text-center">
          <h3 class="text-lg font-semibold mb-3">今月の挑戦、どうでしたか？</h3>
          <p class="mb-4 text-sm">毎月の小さな一歩も、大きな成長への道。<br>あなたの今月の成果を友達と共有しましょう！</p>
          <% if @month_goal.present? && @achieved_goal.present? && @chart_count.present? %>
            <%= render 'shared_button', content: "今月は#{@month_goal}ことに挑戦し、#{@achieved_goal}などの週間目標を#{@achieved_goals_count}件達成しました！達成したタスクは#{@chart_count}件でした✨" %>
          <% elsif @achieved_goal.present? && @chart_count.present? %>
            <%= render 'shared_button', content: "今月は#{@achieved_goal}などの週間目標を#{@achieved_goals_count}件達成しました！達成したタスクは#{@chart_count}件でした✨" %>
          <% elsif @chart_count.present? %>
            <%= render 'shared_button', content: "今月はタスクを#{@chart_count}件達成しました✨" %>
          <% end %>
        </div>
        <div class="divider"></div>
      <% end %>
      <!-- カレンダー -->
      <div class="p-4">
        <h3 class="text-xl font-semibold mb-3 text-center underline decoration-4 decoration-secondary">今月の成果スタンプ</h3>
        <%= turbo_frame_tag 'calendar' do %>
          <%= month_calendar events: @events do |date, events| %>
            <div class="calendar-day mb-2">
              <%= date.day %>
              <div class="flex flex-wrap">
                <% events.each do |event| %>
                  <div class="calendar__event">
                    <% if event.is_a?(Goal) %>
                      <div class="tooltip tooltip-left" data-tip="<%= Goal.human_attribute_name(:content)%>：<%= event.content %>">
                        <%= image_tag category_icon(event.category.name), size: "15x15" %>
                      </div>
                    <% elsif event.is_a?(Task) %>
                      <div class="tooltip tooltip-left" data-tip="<%= t("look_back.index.task")%>：<%= event.content %>">
                        <%= image_tag category_icon(event.goal.category.name), size: "15x15" %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
