<%= turbo_frame_tag goal do %>
  <div class="card max-w-lg mx-auto mb-3 p-4 rounded-lg border border-gray-300">
    <%= form_with model: goal, local: true do |f| %>
      <div class="mb-4">
        <label for="goal_content" class="block text-sm font-medium text-gray-700">目標またはタスク</label>
        <%= f.text_field :content, id: 'goal_content', class: 'form-input w-full border rounded-md', placeholder: "目標またはタスク" %>
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">種別</label>
        <div class="flex items-center space-x-2">
          <%= f.radio_button :is_goal, true %>
          <%= f.label :is_goal, "目標", class: 'text-sm' %>
          <%= f.radio_button :is_goal, false %>
          <%= f.label :is_goal, "タスク", class: 'text-sm' %>
        </div>
      </div>

      <div class="mb-4">
        <label for="goal_category_id" class="block text-sm font-medium text-gray-700">カテゴリー</label>
        <%= f.collection_select(:category_id, Category.all, :id, :name, { include_blank: "選択してください" }, { class: 'form-select w-full border rounded-md', id: 'goal_category_id' }) %>
      </div>

      <div class="mb-4">
        <label for="goal_deadline" class="block text-sm font-medium text-gray-700">達成予定日</label>
        <%= f.datetime_field :deadline, id: 'goal_deadline', class: 'form-input w-full border rounded-md' %>
      </div>

      <div class="flex justify-between">
        <%= link_to "キャンセル", goals_path, class: "btn btn-outline-secondary" %>
        <%= f.submit "保存", class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
<% end %>




