<%= turbo_frame_tag goal do %>
  <div class="card max-w-lg mx-auto mb-3">
  <%= form_with model: goal, local: true do |f| %>
    <div class="flex">
      <div class="flex-basis-10">
        <%= f.text_field :content, placeholder: "目標またはタスク", class: 'border border-bg-200 rounded'%>
        <%= f.label '目標' %>
        <%= f.radio_button :is_goal, checked: true %>
        <%= f.label 'タスク' %>
        <%= f.radio_button :is_goal, checked: false %>
      </div><br>
    </div>
      <div class="flex float-left bg-200 rounded text-xs">
        <%= f.collection_select(:category_id, Category.all, :id, :name, include_blank: "カテゴリー")%>
      </div>
      <div class="flex float-right text-sm">
        <%= f.date_field :deadline %>
        <%= f.submit class: 'btn btn-secondary' %>
        <%= link_to "キャンセル", goal, class: "btn btn-sm btn-outline-secondary" %>
      </div>
  <% end %>
  </div>
<%end%>