<div class="card flex-shrink-0 w-full shadow-lg mx-auto m-2 py-2 px-5">
<%= form_with model: goal, local: true do |f| %>
    <%= f.text_field :content, placeholder: "目標またはタスク", class: 'border border-bg-200 rounded'%>
    <%= f.collection_select(:name, Category.all, :id, :name, include_blank: "カテゴリー")%>
    <%= f.label Goal.human_attribute_name(:deadline) %>
    <%= f.date_field :deadline %>
    <%= f.label :is_goal %>
    <%= f.check_box :is_goal, value: goal %>
  <%= f.submit class: 'btn btn-secondary' %>
<% end %>
</div>