<% content_for(:title, t('.title')) %>
<%= render "modal" %>
<div class="flex flex-wrap justify-center">
  <div class="card w-full max-w-lg mx-4 mb-8 shadow-2xl">
    <div class="card-body">
        <div class="font-bold text-center text-xl">達成した目標</div>
        <% if @goals.present? %>
          <%= turbo_frame_tag Goal.new %>
          <div id="goals">
            <%= turbo_frame_tag "goals" do %>
              <%= render @goals.select{ |g| g.is_goal? && g.checked? } %>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
  <div class="card w-full max-w-lg mx-4 mb-8 shadow-2xl">
    <div class="card-body">
      <div class="font-bold text-center text-xl">達成したタスク</div>
      <% if @goals.present? %>
        <%= turbo_frame_tag Goal.new %>
        <%# turbo_streamで更新するためにtasksで囲む %>
        <div id="tasks">
            <%= turbo_frame_tag "tasks" do %>
              <%= render @goals.select{ |g| !g.is_goal? && g.checked? } %>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>