<%= turbo_frame_tag @goal do %>
  <div class="card max-w-full mb-3 p-4 rounded-lg border border-gray-300 bg-white shadow-sm">
    <%= form_with model: @goal, local: true do |f| %>
      <div class="flex flex-col space-y-4">
        <div>
          <%= f.label :content, t(".content"), class: "block text-sm font-medium text-gray-600 mb-1" %>
          <%= f.text_field :content, class: "w-full border border-gray-300 text-gray-600 rounded mt-2 p-3", placeholder: "タスク" %>
        </div>

        <div class="flex flex-col md:flex-row md:space-x-4">
          <div class="flex-1">
            <%= f.label :category_id, t(".category"), class: "text-sm font-medium text-gray-600 mb-1" %>
            <%= f.collection_select(:category_id, Category.all, :id, :name, { include_blank: "選択してください" }, class: "w-full border border-gray-300 text-gray-600 rounded mt-2 p-3") %>
          </div>
          <div class="flex-1">
            <%= f.label :deadline, t(".deadline"), class:"text-sm font-medium text-gray-600 mb-1" %>
            <%= f.date_field :deadline, id: "task_due", class: "w-full border border-gray-300 text-gray-600 rounded mt-2 p-3" %>
          </div>
        </div>

        <div class="flex justify-end mt-4">
          <%= link_to t("defaults.cancel"), goals_path, class: "btn mr-2 sm:btn-xs md:btn" %>
          <%= f.submit t("defaults.submit"), class: "btn btn-secondary sm:btn-xs md:btn-md" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
