<% content_for(:title, t('.title')) %>
<div class="container mx-auto py-12 text-center">
  <div class="mb-20">
    <div class="text-2xl">あなたの現在の本数は〇〇本です</div>
  </div>
  <%= turbo_frame_tag Goal.new %>
  <div class="container mx-auto text-center">
    <%= link_to '+', new_goal_path, class: 'btn btn-secondary mt-4 text-2xl w-full max-w-lg', data: { turbo_frame: dom_id(Goal.new)} %>
  </div>
</div>
<div class="flex flex-wrap justify-center">
  <div class="card w-full max-w-lg mx-4 mb-8 shadow-2xl">
    <div class="card-body">
        <div class="font-bold text-center text-xl">目標</div>
        <% if @goals.present? %>
          <div id="goals">
            <%= turbo_frame_tag "goals" do %>
              <%= render @goals.select{ |g| g.is_goal? && !g.checked? } %>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
  <div class="card w-full max-w-lg mx-4 mb-8 shadow-2xl">
    <div class="card-body">
      <div class="font-bold text-center text-xl">タスク</div>
      <% if @goals.present? %>
        <div id="tasks">
          <%= turbo_frame_tag "tasks" do %>
            <%= render @goals.select{ |g| !g.is_goal? && !g.checked? }  %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>