<div class="hero min-h-screen">
  <div class="row">
    <div class="text-center text-2xl">あなたの現在の本数は〇〇本です</div>
    <div class="flex space-x-4">
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl mx-auto m-8">
        <div class="card-body">
          <div class="font-bold text-center text-xl">目標</div>
          <% if @goals.present? %>
              <%= render @goals.select(&:is_goal?) %>
          <% else %>
            <p><%= t('.no_result') %></p>
          <% end %>
          <%= link_to '登録する', new_goal_path, class:'btn btn-secondary'%>
        </div>
      </div>
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl mx-auto m-8">
        <div class="card-body">
          <div class="font-bold text-center text-xl">タスク</div>
          <% if @goals.present? %>
            <%= render @goals.select(&:is_task?) %>
          <% else %>
            <p><%= t('.no_result') %></p>
          <% end %>
          <%= link_to '登録する', new_goal_path(@task), class:'btn btn-secondary'%>
        </div>
      </div>
    </div>
  </div>
</div>