<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
  </head>

  <body class="flex flex-col min-h-screen">
    <% if user_signed_in? %>
      <%= render 'shared/header' %>
    <% else%>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <main class="flex-grow">
      <div id="flash">
        <%= render "shared/flash" %>
      </div>
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
